* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 32px;
    height: 5vh;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 500ms ease;
}

.menuBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 16px;
    width: 2em;
    transition: 250ms ease;
}

.menuBtnLine1 {
    display: block;
    width: 2em;
    height: 2px;
    border-radius: 50px;
    background-color: black;
    transition: 250ms ease;
}

.menuBtnLine2 {
    display: block;
    width: 1.2em;
    height: 2px;
    border-radius: 50px;
    background-color: black;
    transition: 250ms ease;
}

.navLogo {
    width: 4em;
}

.profilePic {
    display: block;
    background-color: rgb(231, 231, 231);
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.menu {
    background-color: white;
    height: calc(100vh - 5vh);
    width: 100vw;
    position: fixed;
    z-index: 998;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5em;
    opacity: 0;
    pointer-events: none;
    transition: 500ms ease;
}

.menuLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 10px;
    height: 100%;
    width: 50%;
}

.menuLink {
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin: .5em 0px;
    opacity: 0;
    transform: translateX(-100px);
    transition: 500ms ease;
}
    
.menuRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}

.goToBagBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 0px 5px;
    opacity: 0;
    pointer-events: none;
    transition: 500ms ease;
}

.goToBagBtn p {
    font-size: 1.75em;
    font-weight: 200;
    line-height: 1em;
}

pBagBottom {
    font-weight: 400;
}

.minContainer {
    min-height: calc(100vh - 5vh - 277px);
    /* padding: 0px 16px; */
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 40vh; */
    width: 100%;
    padding: 20px;
    margin: 4em 0em 0em 0em;
    box-sizing: border-box;
    background-image: url('../img/footerImg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: 250ms ease;
}

.footerLogo {
    width: 4em;
}

.footerSeparater {
    display: flex;
    height: 2px;
    width: 40%;
    border-radius: 50px;
    background-color: white;
    opacity: 0.25;
    margin: 2em 0em;
}

.footerMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.footerLinkWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footerLinkWrapper:nth-child(2) {
    margin: 5px 0px;
}

.footerLink {
    color: white;
    font-size: 12px;
    /* border-bottom: 1px solid white; */
}

.footerText {
    font-size: 10px;
    color: white;
}

.blockbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    margin: 2em 0em;
}

blockbar {
    display: block;
    width: 20%;
    height: 2px;
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
}

.col_end {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin: 4em 0px;
    color: gray;
}